/* colors */
/* light theme */
/* dark theme */
/* check bg */
/* font style */
.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  border: 1px solid transparent;
  font-size: 0.75rem;
  color: #484b6a;
  border-bottom: 1px solid #e4e5f1;
}
.task-container.dark {
  color: #cacde8;
  border-bottom: 1px solid #393a4c;
}
@media screen and (min-width: 40em) {
  .task-container {
    padding: 1.25rem 1.5rem;
  }
}
.task-inner {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 40em) {
  .task-description {
    font-size: 1.125rem;
  }
}
.task-description.checked {
  text-decoration: line-through;
  color: #d2d3db;
}
.task-description.checked.dark {
  color: #5b5e7e;
}

.tasklist-container {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 4.75rem;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.03);
  transform: translateY(-1.75rem);
}
.tasklist-container.dark {
  background-color: #25273c;
}
@media screen and (min-width: 40em) {
  .tasklist-container {
    transform: translateY(-3.375rem);
    margin-bottom: -0.375rem;
  }
}
.tasklist-lastrow {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 1.25rem;
  color: #9394a5;
  font-size: 0.75rem;
}
.tasklist-lastrow.dark {
  color: #5b5e7e;
}

.checkbox-container {
  position: relative;
}

/* custom checkbox */
input[type=checkbox] {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 1;
  cursor: pointer;
}
input[type=checkbox]::after {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  position: absolute;
  border: 1px solid #d2d3db;
  top: -0.7rem;
  left: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type=checkbox]::after.dark {
  border: 1px solid #777a92;
}
input[type=checkbox]:hover::after, input[type=checkbox]:focus::after {
  background: linear-gradient(135deg, #57ddff, #c058f3);
  border: none;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 1px;
}
input[type=checkbox]:checked::after {
  content: url("../images/icon-check.svg");
  background: linear-gradient(135deg, #57ddff, #c058f3);
  border: none;
  -webkit-mask: unset;
  mask: unset;
  -webkit-mask-composite: unset;
  mask-composite: unset;
  padding: 0;
}

.checkbox.dark::after {
  border: 1px solid #777a92;
}

.filter-btn {
  font-weight: bold;
  font-size: 0.875rem;
  color: #9394a5;
}
.filter-btn.dark {
  color: #5b5e7e;
}
.filter-btn.dark:hover, .filter-btn.dark:focus {
  color: #e4e5f1;
}
.filter-btn:hover, .filter-btn:focus {
  color: #484b6a;
}
.filter-btn:not(:last-child) {
  margin-right: 1rem;
}
.filter-btn:active {
  color: #3a7bfd;
}
.filter-btn-container {
  position: absolute;
  padding: 1rem 1.25rem;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}
.filter-btn-container.dark {
  background-color: #25273c;
}
@media screen and (min-width: 40em) {
  .filter-btn-container {
    position: unset;
    padding: 0;
    width: auto;
    background-color: transparent;
    border: none;
  }
}
.filter-btn.activated {
  color: #3a7bfd;
}

.clear-btn {
  color: #9394a5;
}
.clear-btn.dark {
  color: #5b5e7e;
}
.clear-btn.dark:hover, .clear-btn.dark:focus {
  color: #e4e5f1;
}
.clear-btn:hover, .clear-btn:focus {
  color: #484b6a;
}

/*# sourceMappingURL=TaskList.css.map */