/* colors */
$color-blue: hsl(220, 98%, 61%);

/* light theme */
$color-very-light-gray: hsl(0, 0%, 98%);
$color-very-light-gray-blue: hsl(236, 33%, 92%);
$color-light-gray-blue: hsl(233, 11%, 84%);
$color-dark-gray-blue: hsl(236, 9%, 61%);
$color-very-dark-gray-blue: hsl(235, 19%, 35%);

/* dark theme */
$color-very-dark-blue: hsl(235, 21%, 11%);
$color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
$color-light-gray-blue-darkmode: hsl(234, 39%, 85%);
$color-light-gray-blue-hover: hsl(236, 33%, 92%);
$color-dark-gray-blue-darkmode: hsl(234, 11%, 52%);
$color-very-dark-gray-blue-darkmode: hsl(233, 14%, 35%);
$color-very-dark-gray-blue-darkmode: hsl(237, 14%, 26%);
$color-tasklist-body: #5b5e7e;

/* check bg */
$bg-check: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

/* font style */
$font-primary: 'Josefin Sans', sans-serif;
