@use '../sass/variables';
@use '../sass/mixins';

.header {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  background: url('../images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include mixins.mq(medium) {
    background: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 4.375rem;
    padding-bottom: 4.875rem;
  }
  &.dark {
    background: url('../images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @include mixins.mq(medium) {
      background: url('../images/bg-desktop-dark.jpg');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }
  }
  &__inner {
    max-width: 33.75rem;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.6rem;
    @include mixins.mq(medium) {
      margin-bottom: 2.5rem;
    }
  }
  &__logo {
    color: #fff;

    &--title {
      // text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.7rem;
      font-size: 1.25rem;
      @include mixins.mq(medium) {
        font-size: 2.5rem;
      }
    }
  }
  &__btn {
    & img {
      width: 1.25rem;
      height: 1.25rem;
      @include mixins.mq(medium) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
