@use './sass/variables';
@use './sass/mixins';

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus-visible {
  outline: solid 3px yellow;
  outline-offset: 10px;
}

// body {
//   width: 100%;
//   max-width: 100%;
//   min-height: 100vh;
// }
.App {
  font-family: variables.$font-primary;
  color: variables.$color-dark-gray-blue;
  background-color: variables.$color-very-light-gray;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  &.dark {
    color: variables.$color-tasklist-body;
    background-color: variables.$color-very-dark-blue;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.wrapper {
  padding: 0 1.625rem;
  margin: 0 auto;
}

.main {
  padding-bottom: 4.5rem;

  @include mixins.mq(medium) {
    max-width: 33.75rem;
    padding: 0;
  }
}

.instruction {
  text-align: center;
  font-size: 0.825rem;

  @include mixins.mq(medium) {
    margin-bottom: 3.25rem;
  }
}
